body {
  background: url("receiptpage.png");
  background-size: cover;
  font-size: 26px;
  background-position-y: -60;
}

body,
table {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(3, 3, 3);
  font-size: 80px;
  margin-right: 5px;
  font-family: cursive;
}
main {
  padding: 10rem;
}

.checkout-details {
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #f6e2bf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  color: #333;
  margin-bottom: 1rem;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.detail span:first-child {
  font-weight: bold;
}
/*footer*/
footer {
  color: #0b0707;
  font-size: 20px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  padding: 0.3rem;
  background: rgba(231, 177, 106, 0.86);
}
footer a {
  font-size: large;
  color: #cc4502;
}

footer a:hover {
  color: #f8f4ef;
}
