.checkout__row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.checkout__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.checkout__actions button {
  color: #1d1a16;
}

.checkout__actions button:hover,
.checkout__actions button:active {
  color: #312c1d;
}
