.checkout__type h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.checkout__type select {
  height: 2rem;
  padding: 0 1rem 0 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font: inherit;
}

.checkout__row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.checkout__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.checkout__actions button {
  color: #1d1a16;
}

.checkout__actions button:hover,
.checkout__actions button:active {
  color: #312c1d;
}
